[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
lxml = "*"
seaborn = "*"
statsmodels = "*"
scipy = "*"
patsy = "*"
scikit-learn = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
